body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}
.header {
    background-color: #000000c0;
    padding: 20px;
    text-align: center;
    color: white;
}
.sidebar {
    width: 200px;
    background-color: #000000ea;
    padding: 15px;
    color: white;
    align-items: center;
    float: left;
    height: 100vh;
}
.sidebar h2 {
    color: white;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}
.sidebar a:hover {
    background-color: #5a5858;
    color: white;
}
.content {
    margin-left: 220px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.dashboard-cards {
    display: flex;
    justify-content: space-between;
}
.card {
    background-color: #000000ea;
    color: white;
    padding: 20px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}
.card:last-child {
    margin-right: 0;
}
.chart {
    margin-top: 30px;
}
h1 {
    text-align: left;
}
.profile-img {
    width: 100px;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    background-color: black;
    align-items: self-start;
    
}
.profile1-img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 0px;
    background-color: black;
}
hr{
    color: black;
}